<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mydist.mydist">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="false"
        android:icon="@drawable/route_144"
        android:label="@string/app_name"
        android:roundIcon="@drawable/route_144"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<meta-data android:name="CLOUDINARY_URL" android:value="cloudinary://612615322999268:tyy58ne9vGjtM4NR21MR9G6SCvc@blessochampion"/>-->
        <meta-data android:name="CLOUDINARY_URL" android:value="cloudinary://659674684125543:yuGenlC8jpArWWgBPFDH1or7d9U@scenario"/>
        <provider
            android:exported="false"
            android:grantUriPermissions="true"
            android:authorities="mydist.mydist.fileprovider"
            android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
         <activity
             android:name=".activities.SplashActivity"
             android:noHistory="true">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.HomeActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".activities.NewRetailerActivity" />
        <activity android:name=".activities.SynchronizationActivity" />
        <activity android:name=".activities.ReportsActivity" />
        <activity android:name=".activities.ReportDetailsActivity" />
        <activity android:name=".activities.CoverageActivity" />
        <activity android:name=".printing.PrintingActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.StoreOverviewActivity"
            android:label="@string/title_activity_store_details"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.StoreInfoDetailsActivity" />
        <activity android:name=".activities.InvoiceActivity" />
        <activity android:name=".activities.AuthenticatedActivity" />
        <activity android:name=".activities.InvoiceEditActivity" />
        <activity
            android:name=".activities.StockCountReviewActivity"
            android:label="@string/title_activity_stock_count_reveiew"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>